<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <video id="videoStreamBuffer" class="video-js" autoplay controls width="640" height="264" data-setup="{}" muted>
    </video>

    <video id="videoStreamBase" class="video-js" width="640" height="264" muted controls data-setup="{}">
        <source src="/stream" type="video/mp4" />
    </video>

    <script>
        let video = document.querySelector( '#videoStreamBuffer' );

        video.addEventListener( 'progress', function () {
            const duration = video.duration;
            if ( duration > 0 ) {
                for ( let i = 0; i < video.buffered.length; i++ ) {
                    if ( video.buffered.start( video.buffered.length - 1 - i ) < video.currentTime ) {
                        console.log( 'buffered-amount', ( ( video.buffered.end( video.buffered.length - 1 - i ) / duration ) * 100 ).toFixed( 2 ) + "%" )
                        break;
                    }
                }
            }
        } );

        video.addEventListener( 'timeupdate', function () {
            const duration = video.duration;
            if ( duration > 0 ) {
                // console.log( 'progress-amount', ( ( video.currentTime / duration ) * 100 ).toFixed( 2 ) + "%" );
            }
        } );

        video.addEventListener( 'seeked', function () {
            let listaBuffers = [];
            for ( i = 0; i < video.buffered.length; i++ ) {
                let startX = video.buffered.start( i );
                let endX = video.buffered.end( i );
                let width = endX - startX;
                listaBuffers.push( { start: startX, end: endX, size: width } )
            }

            let seekableEnd = video.seekable.end( video.seekable.length - 1 );
            let played = video.played;
            console.log( played )
            console.log( seekableEnd )
            console.log( listaBuffers )
        } );

        video.onerror = function () {
            console.error( "Error " + video.error.code + "; details: " + video.error.message );
        }

        let assetURL = '/buffer';
        // Need to be specific for Blink regarding codecs
        // ./mp4info frag_bunny.mp4 | grep Codec
        // let mimeCodec = 'video/webm; codecs="vorbis,vp8"';
        let mimeCodec = "video/mp4; codecs=\"avc1.640028,mp4a.40.2\"";

        if ( 'MediaSource' in window && MediaSource.isTypeSupported( mimeCodec ) ) {
            start2()

        } else {
            console.error( 'Unsupported MIME type or codec: ', mimeCodec );
        }

        async function start2( params ) {

            let mediaSource = new MediaSource();
            video.src = window.URL.createObjectURL( mediaSource );

            mediaSource.addEventListener( 'sourceopen', async function ( e ) {
                let bufferFile = await fetchAB( assetURL );
                let buffer8 = new Uint8Array( bufferFile );
                let sourceBuffer = mediaSource.addSourceBuffer( mimeCodec );

                let file = new Blob( [ buffer8 ], { type: 'video/mp4' } );

                let reader = new FileReader();

                reader.onload = function ( e ) {
                    sourceBuffer.appendBuffer( new Uint8Array( e.target.result ) );
                };
                reader.readAsArrayBuffer( file );

            }, false );


        }

        function start() {

            // create an object, an instance of the MediaSource
            var mediaSource = new MediaSource();

            // to this `mediaSource` object add an event listener for the `sourceopen` event
            // and run the code inside the function when `sourceopen` happens
            mediaSource.addEventListener( 'sourceopen', function () {

                var sourceBuffer = mediaSource.addSourceBuffer( mimeCodec );
                fetchAB( assetURL, function ( buf ) {
                    sourceBuffer.appendBuffer( buf );
                } );
            } );

            // hey, `video` element, here is the source of the media I'd like you to play
            // it's not a simple url, is something more complex
            // , a `MediaSource` kind of thing
            // and it might take you some time to be ready        
            video.src = URL.createObjectURL( mediaSource );

        }

        async function fetchAB( url ) {
            return new Promise( async ( resolve, reject ) => {
                try {
                    let headers = {
                        method: 'GET',
                        headers: {
                            'Sec-Fetch-Dest': 'video',
                            'x-access-token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNjE0ODg5MTE0LCJleHAiOjE2MTQ4OTIxMTR9.jsvDQMFk643cq6Cb0S-rbzCwbvlfGlvImORwHDphvX0',
                        }
                    }
                    let response = await fetch( url, headers )

                    if ( !response.ok )
                        throw response

                    let buffer = await response.arrayBuffer();

                    resolve( buffer );

                } catch ( error ) {
                    reject( error )
                }
            } )
        };
    </script>

</body>


</html>

<!-- <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <title>Play Video</title>
</head>

<body>
    <h1>Player Video</h1>
    <video id="my-video" class="video-js" controls width="640" height="264" poster="MY_VIDEO_POSTER.jpg"
        data-setup="{}">
        <source
            src="/stream?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNjE0MjgxNjIxLCJleHAiOjE2MTQyODQ2MjF9.BCxAbFzEE5xFvfiGUkGg3XmJF4B4dofvp7OqVOuoCvk"
            type="video/mp4" />

    </video>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

</body>

</html> -->